<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
}
</style>
</head>
<body>
<div class="container">
    <h1>Đổi mật khẩu</h1>
    <h1 th:text="${error}"></h1>
    <form th:action="change_password" method="post">
     
      <label for="new-password">Mật khẩu mới:</label>
      <input type="password" id="new-password" name="newpassword">

      <label for="confirm-password">Xác nhận mật khẩu mới:</label>
      <input type="password" id="confirm-password" name="confirmpassword">
      <input type="hidden" name="toemail" th:value="${toemail}">
      <button type="submit">Đổi mật khẩu</button>
    </form>
  </div>

</body>
</html>